/* Font Families imported from Google Fonts/

    font-family: 'Fredoka One', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Faster One', cursive;
    font-family: 'Baloo Bhaina', cursive;
*/
/*---------  HEADER SECTION  -----------*/
header{
    height: 150px;
    font-family: 'Fredoka One', cursive;
    /* border: 0.5em solid black;  */
    margin-top: 100px;
    
}

h1.title{
    margin: auto;
    width: 260px;
    padding-top: 50px;
    
}
/* .titlename{
    height: ;
    width: 
} */

/*---------  BODY SECTION  -----------*/
main{
    height: 150px;
}
body{
    background-image: url(../images/bg1.svg);
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: 100% 200%;
}
a.splashbtn{
    height: 130px;
    border:0.5em solid rgba(153, 255, 0, 0.247);
}
h3.splashbtn{
    padding: 20px;
}
/*---------  FOOTER SECTION  -----------*/
footer{
    height: 50px;
}