/* Font Families imported from Google Fonts/

    font-family: 'Fredoka One', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Faster One', cursive;
    font-family: 'Baloo Bhaina', cursive;
*/
/*---------  HEADER SECTION  -----------*/
header{
    height: 150px;
    font-family: 'Luckiest Guy', cursive;
    border: 0.5em solid black; 
}
/* .titlename{
    height: ;
    width: 
} */

/*---------  BODY SECTION  -----------*/
main{
    height: 150px;
    border: 2px solid black;
}
/*---------  FOOTER SECTION  -----------*/
footer{
    height: 50px;
    border: 2px solid black;
}