/* Font Families imported from Google Fonts/

    font-family: 'Fredoka One', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Faster One', cursive;
    font-family: 'Baloo Bhaina', cursive;
*/
/*---------  HEADER SECTION  -----------*/
header {
    height: 150px;
    font-family: 'Luckiest Guy', cursive;
    border: 2px solid black; 
    background-image: url("../images/the50staes.svg");
    background-repeat: repeat;
    
    background-size: 100px 200px;
}
/*---------  BODY SECTION  -----------*/
#statefill {
    font-family: 'Fredoka One', cursive;
    font-size: 12pt;
}
main {
    margin-top: 2rem;
}
.icon-size {
    width: 30px;
    height: 30px;
    alt: "x";
}
html {
    background: #333;
    -webkit-font-smoothing: antialiased;
  }
body {
    background-image: url(../images/bg1.svg);
    background-repeat: repeat;
}
.stateitem {
    border: 1px solid navy;
}
/*---------  FOOTER SECTION  -----------*/
footer {
    height: 50px;
}